<div class="navigation">
  <ul class="menu cf">
    {{#foreach navigation}}
        <li><a {{#if current}}class="active" {{/if}}href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
  </ul>
</div>

{{#contentFor "script"}}
<script type="text/javascript">
    $(document).ready(function() {
        // If there are no active nav links
        if($("ul.menu > li > a.active").length === 0) {

            // Try to make one
            $("ul.menu > li > a").each(function(i, link) {
                const path = $(link).attr('href').replace(window.location.origin, '');
                if(window.location.pathname.match(path)) {
                    $(link).addClass("active");
                }
            });
        }
    });
</script>
{{/contentFor}}
